---

import 'swiper/css'
import 'swiper/css/pagination'

interface Props {
    images: string[];
}

const {images} = Astro.props

const fullImages = images.map(image => {
    return image.startsWith('http')
    ? image
    : `${import.meta.env.PUBLIC_URL}/images/products/${ image }`
})
---


<div class="swiper col-span-1 sm:col-span-2">
  <!-- Wrapper necesario -->
  <div class="swiper-wrapper">
    {
      fullImages.map(image => (
        <div class="swiper-slide flex justify-center items-center">
          <img
            src={image}
            alt="Product image"
            class="rounded-2xl border border-gray-300 shadow-md transition-transform duration-300 "
          />
        </div>
      ))
    }
  </div>

  <div class="swiper-pagination mt-4"></div>
</div>

<style>
  .swiper {
    width: 100%;
    height: auto;
  }
</style>

<script>
import Swiper from 'swiper';
import {Pagination} from 'swiper/modules';

document.addEventListener('astro:page-load', () => {
    const swiper = new Swiper('.swiper', {
    
      pagination: {
        el: '.swiper-pagination'
      },
      modules: [Pagination]
      
    });

})

</script>