---
import { CartCounter } from '@/components';

const { isLoggedIn, isAdmin } = Astro.locals;
---

<!-- component -->
<nav
  class="flex justify-between px-20 py-10 items-center fixed top-0 w-full z-10 h-20"
  style="background-color: #FFfff;"
>
  <h1 class="text-xl text-gray-200 font-bold p-4">
    <a href="/">Broquelizate</a>
  </h1>
  <div class="flex items-center">
    <ul class="flex items-center space-x-6">
      <CartCounter client:load transition:persist />

      <li class="font-semibold text-gray-200">
        <a href="/">Home</a>
      </li>
      {
        isAdmin && (
          <li class="font-semibold text-gray-200">
            <a href="/admin/dashboard">Admin</a>
          </li>
        )
      }

      {
        !isLoggedIn ? (
          <li class="font-semibold text-gray-200">
            <a href="/login">Ingresar</a>
          </li>
        ) : (
          <li id="logout" class="font-semibold text-gray-200">
            <a href="#">Salir</a>
          </li>
        )
      }
    </ul>
  </div>
</nav>

<script>
  const { signOut } = await import('auth-astro/client');

  const logoutElem = document.querySelector('#logout') as HTMLLIElement;
  // Add event listener to the logout element
  document.addEventListener('astro:page-load', () => {
    // Ensure the logout element exists before adding the event listener
    if (logoutElem) {
      logoutElem.addEventListener('click', async () => {
        await signOut();
        window.location.href = '/';
      });
    }
  });

</script>