---
import { actions } from 'astro:actions';
import MainLayout from '@/layouts/MainLayout.astro';


const productsInCartCookie = Astro.cookies.get('cart')?.json() ?? [];
const { data: products, error } = await Astro.callAction(
  actions.loadProductsFromCart,
  productsInCartCookie
);

console.log(productsInCartCookie)
console.log("Productos en el carrito: ")
console.log({products})

---






<MainLayout>
    <h1>Carrito</h1>
</MainLayout>