---
import Categories from "@/components/Categories.astro";
import HeroSection from "@/components/HeroSection.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import FeaturedProducts from "@/components/FeaturedProducts.astro";
import Services from "@/components/Services.astro";
import Testimonials from "@/components/Testimonials.astro";
import BroquelizateSection from "@/components/BroquelizateSection.astro";
import Newsletter from "@/components/Newsletter.astro";


---

<MainLayout title="Broquelizate Web">
  <main class="w-full">
    <HeroSection/>
    <Categories/>
    <FeaturedProducts/>
    <Services/>
    <Testimonials/>
    <BroquelizateSection/>
    <Newsletter/>
  </main>
  
</MainLayout>


