---
import Categories from "@/components/Categories.astro";
import HeroSection from "@/components/HeroSection.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import FeaturedProducts from "@/components/FeaturedProducts.astro";
import Services from "@/components/Services.astro";


---

<MainLayout title="Broquelizate Web">
  <main class="w-full">
    <HeroSection/>
    <Categories/>
    <FeaturedProducts/>
    <Services/>
  </main>
  
</MainLayout>


