---
import NavBar from '@/components/shared/NavBar.astro';
import '@/assets/styles/global.css'
import { ClientRouter } from 'astro:transitions';

interface Props {
    title?: string;
	description?: string;
	image?: string;
}

const {title = 'Broquelizate web'} = Astro.props;

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter>
	</head>
	<body>
        <NavBar />
		<main class="">
			<slot />
		</main>
	</body>
</html>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background: #1E1E1E;
    color-scheme: dark light;
  }
  
</style>
