---
import NavBar from '@/components/shared/NavBar.astro';
import '@/assets/styles/global.css';
import { ClientRouter } from 'astro:transitions';
import Footer from '@/components/shared/Footer.astro';

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { title = 'Productos' } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="bg-[#1E1E1E] text-white">
    <NavBar />

    <!-- Contenedor centrado con padding-top -->
    <main class="container mx-auto px-4 pt-20">
      <slot />

    </main>
  </body>
</html>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
    color-scheme: dark light;
  }
  body {
    /* Ajusta este padding al alto exacto de tu header si hiciera falta */
    padding-top: 3rem;
  }
.divider-gold {
  border: none;
  border-top: 1px solid rgba(243, 212, 38, 0.671);
}
</style>
