---
import NavBar from '@/components/shared/NavBar.astro';



import '@/assets/styles/global.css'

interface Props {
    title?: string;
	description?: string;
	image?: string;
}

const {title = 'Auth Astro app'} = Astro.props;

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        <NavBar/>
		<main class="container mx-auto px-4 pt-12">
			<slot />
		</main>
	</body>
</html>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background: #1E1E1E;
    color-scheme: dark light;
  }
  body {
  padding-top: 3rem; /* o 48px, ajusta al valor exacto de tu header */
}
</style>
