---
import AdminLayout from "@/layouts/AdminLayout.astro"
import AdminPOS from "@/components/admin/AdminPOS.astro"
import AdminCheckout from "@/components/admin/AdminCheckout.astro";
const pageTitle = 'Vender';
---


<AdminLayout title={pageTitle}>
  <div class="w-full h-full mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <AdminCheckout/>
  </div>
</AdminLayout>